p{
    font-size: 20pt;
    color: rgb(29, 87, 27)
}

body{
    background-color: rgb(240, 193, 200);
    width: 75%;
    margin:auto
}

li{
    font-size: 20pt;
    color: rgb(29, 87, 27)
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c5564e;
  }
  
  header li {
    float: left;
  }
  
  header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  header li a:hover {
    background-color: #111;
  }

.how img{
  width:500px;
    float:left;
    border: 10px;
    margin-right: 40px;
}